<!DOCTYPE HTML>
<html lang="en" ng-app="devicesApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>macchina.io - Sensors &amp; Devices</title>
    <link rel="stylesheet" href="/css/macchina.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <link rel="icon" href="/images/favicon.ico">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/macchina/devices/js/app.js"></script>
    <script type="text/javascript" src="/macchina/devices/js/controllers.js"></script>
  </head>
  <body ng-controller="SessionCtrl">
    <header>
      <div class="headercontainer">
        <div class="header">
          <h1>
          <a href="/"><img src="/images/headerlogo.png" alt="macchina.io"></a>Sensors &amp; Devices
          </h1>
        </div>
      </div>
    </header>
    <div class="contentcontainer">
      <div class="content">
        <nav>
          <div class="usernav">
            <div class="navigation">
            </div>
            <div class="username">
              <i class="fa fa-user"></i>
              &nbsp;
              {{session.username}}
              &nbsp;
              <a id="logoutLink" href="#" onclick="document.logout.submit()">Sign out</a>
           </div>
           <form method="post" name="logout" action="/">
             <input type="hidden" name="action" value="logout">
           </form>
           <div style="clear: both;"></div>
         </div>
        </nav>
        <!-- 20170529 by sam originally  <div ng-controller="DevicesCtrl" class="groupbox"> -->
        <div ng-controller="DevicesCtrl" class="groupbox">
          <table class="list" style="width: 100%">
            <thead>
              <tr>
                <!-- 20170529 by sam  <th ng-click="setOrderBy('name')" class="list-sortable">Name</th>  -->
                <th ng-click="setOrderBy('symbolicName')" class="list-sortable">Symbolic Name</th>
                <th ng-click="setOrderBy('id')" class="list-sortable">ID</th>
                <th ng-click="setOrderBy('physicalQuantity')" class="list-sortable">Physical Quantity</th>
                <!-- 20170529 by sam  <th>State/Value</th> -->
              </tr>
            </thead>
        	<input ng-model="states.activeItem" type = "text" id="text" visibility="hidden"/> 
            <tbody class="selection">
              <tr ng-repeat="device in devices | orderBy:orderBy track by $index"  class="device" 
	        	ng-class="{'active': device.id == states.activeItem}" ng-click="states.activeItem=device.id" ng-class-even="'even'" ng-class-odd="'odd'">
                <!-- 20170529 by sam <td>{{device.name}}</td> -->
                <td>{{device.symbolicName}}</td>
                <td>{{device.id}}</td>
                <td>{{device.physicalQuantity}}</td>
                <!-- 20170529 by sam  <td>{{device.displayValue}}</td> -->
              </tr>
            </tbody>
          </table>
          <!-- 20170607 by sam  TODO trigger an action in C++ by addMethodHandler -->
          <button type="submit" value ="submit" onclick="alert(document.getElementById('text').value);">Record</button>
        </div>
      </div>
    </div>
  </body>
</html>
